*
{
  box-sizing:border-box;
  -moz-box-sizing:border-box;
}

::selection 
{
  color:#fff;
  background: #BE7C5A; /* Safari */
}

::-moz-selection 
{
  color:#fff;
  background: #7FBE56; /* Firefox */
}


/*ANIMATIONS*/
@-webkit-keyframes flyIn
{
  from {padding: 0vh 0px 0px 0px;}
  to {padding: 0vh 0px 0px 0px;}
}
@keyframes flyIn
{
  from {padding: 0vh 0px 0px 0px;}
  to {padding: 0vh 0px 0px 0px;}
}

@-webkit-keyframes fade
{
  from {opacity: 0;}
  to {opacity: 1;}
}
@keyframes fade
{
  from {opacity: 0;}
  to {opacity: 1;}
}


/*BASICS*/
h1
{
  margin: 0;
  padding: 20px;
}

h2
{
  margin: 0;
  padding: 20px;
}

h3
{
  margin: 0;
  padding: 20px;
}

em
{
  margin: 0;
  padding: 20px;
}

body 
{
  margin: 0px;
  background-color: #fff;
}


/*NAVIGATION*/
nav
{
  z-index: 500;
  margin: 0px;
  position: fixed;
  float: right;
  font-family: 'Montserrat', sans-serif;
  font-style: none;
  font-weight: 400;
  font-size: 15px;
  color: #fff;
}

ul
{
  list-style-type:none;
  margin: 15px 20px 15px 20px;
  padding:0;
  overflow:hidden;
  float:right;
}

li
{
  float:left;
}

.shade a:link,a:visited
{
  display:block;
  width: auto;
  color:#FFFFFF;
  text-align:center;
  padding: 0px 5px ;
  text-decoration:none;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  transition: background-color .5s;
  -webkit-transition: background-color .5s;
  opacity: 1; !important
}

.shade a:hover,a:active
{
  background-color:#BE7C5A;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

/*PAGES*/
.page-container
{
  background-image: url("../images/background.jpg");
  background-attachment: fixed;
  background-size: cover;
​  margin: 0px auto;
  padding: 0px 0px 0px 0px;
  width:100%;
}

.section
{
  margin: 0;
  min-height: 100vh;
  height: auto;
  
}

.welcome
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  
}

.avatar
{
  display: block;
  border-radius: 100%;
  width: 250px;
  height: 250px;
  
}

.welcome h1
{
  /* padding: 45vh 80px 0px 80px; */
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 100%;
  /* text-transform: uppercase; */
  color: #fff;
  
  -webkit-animation: fade 2s;
  animation: fade 2s;
}

.welcome em
{
  padding: 0px;
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 65px;
  line-height: 100%;
  text-transform: uppercase;
  color: #fff;
}
.welcome h2
{
  padding: 16px 25% 0 80px;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 100;
  font-size: 32px;
  line-height: 120%;
  text-transform: none;
  color: #fff;
  -webkit-animation: fade 2s;
  animation: fade 2s;
}
.welcome h3
{
  color: #fff8d8;
  border: 1px solid;
  border-color: #fff8d8;
  border-radius: 5px;

  flex-wrap: wrap;
  font-family: 'Roboto', sans-serif;
  font-style: none;
  font-weight: 100;
  font-size: 18px;
  line-height: 100%;
  text-transform: none;
  -webkit-animation: fade 2s;
  animation: fade 2s;
}

#media{
  display: flex;
  justify-content: center;
}

.icon{
  height: 50px;
  width: 50px;
  margin-top: 10px;

}

.icon:hover{
  transform: scale(1.1);
}


.union
{
  align-content: center;
}
.union h1
{
  text-align: center;
  padding-left: auto;
  color: #fff8d8;
  padding: 5% 5% 2%;
}

.container{
  display: flex; 
}

.card-body{
  background-color: #fff8d8;
}

.column{
  margin: 10px;
}

.btn{
  background-color: #4D4E63;
  border-color: #4D4E63;
}

.about
{
}

.about h1
{
  text-align: center;
  padding-left: auto;
  color: #fff8d8;
  padding: 9% 5% 2%;
  padding-bottom: 4%;
}

#about1{
  margin: auto;
  width: 70%;
  padding: 10px;
  border: 1px solid black;
  border-color: #fff8d8;
  border-radius: 5px;
  color: white;
}

#hobicon{
  display: flex;
}

.hobbyicon{
  width:50px;
  height: 50px;
  padding: 10px;
}

hr { display: block; height: 1px;
  border: 0; border-top: 1px solid #fff8d8;
  margin: 1em 0; padding: 0; }


.contact
{
}

.contact h1
{
  text-align: center;
  padding-left: auto;
  color: #fff8d8;
  padding: 9% 5% 2%;
  padding-bottom: 4%;
  
}

#contact1{
  margin: auto;
  width: 50%;
  padding: 10px;
  border: 1px solid;
  border-color: #fff8d8;
  border-radius: 5px;
  color: #fff8d8;
}


.shade
{
  float:left;
  position:inherit;
  background-color: #000;
  opacity: .5;
  height: auto;
  width: 100%;
  z-index: -1;
  transition: opacity .3s, background-color .3s;
  -webkit-transition: opacity .3s, background-color .3s;
}

.shade:hover
{
  opacity: 1;
  background-color: #222;
}