/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
  height: 100%;
  margin: 0;
  font-family: 'Chakra Petch', sans-serif;
  /*overflow-x: hidden;*/
}

.avatar {
  display: block;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 250px;
  margin-top: 50px;
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
  transition:  .3s;
  font-family: 'Chakra Petch', sans-serif;

}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding-top: 50px;
  height: 100%;
}

.tabcontent h1 {
  text-align: center;
  color: white;
  font-family: 'Chakra Petch', sans-serif;
}

.tabcontent h3 {
  text-align: left;
  color: white;
  padding-left: 10px;
  font-family: 'Chakra Petch', sans-serif;
}

#wrapper {
  display: flex;
  justify-content: center;
}

#media{
  display: flex;
  justify-content: center;
}

a{
  text-decoration: none;
}

a:hover{
  color:blue;
}

.icon{
  height: 50px;
  width: 50px;
  padding-top: 25px;

}

.icon:hover{
  transform: scale(1.1);
}

.hobbyicon{
  width:50px;
  height: 50px;
  padding: 10px;
  /*-webkit-filter: hue-rotate(90deg);
  filter: hue-rotate(90deg);*/
}

.hobbyicon:hover{
}

#hobicon{
  display: flex;
}

#home1{
  display: flex;
  margin: auto;
  padding-bottom: 10px;
  width: 650px;
  height: 50px;
  background-color: ;
  border: 1px solid;
  border-color: #fff8d8;
  border-radius: 5px;
  color: #fff8d8;
}

#about1{
  margin: auto;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  width: 650px;
  height: 430px;
  background-color: ;
  border: 1px solid black;
  border-color: #fff8d8;
  border-radius: 5px;
  color: white;
}

#contact1{
  margin: auto;
  padding: 10px;
  width: 400px;
  height: 125px;
  background-color: ;
  border: 1px solid black;
  border-color: #fff8d8;
  border-radius: 5px;
  color: #fff8d8;
}

#Project1{
  margin:5px;
  padding: 10px;
  width: 250px;
  height: 350px;
  background-image: url("images/arduino.jpg"); 
  background-size: cover;
  border: 1px solid black;
  border-color: #fff8d8;
  border-radius: 5px;
  color: #fff8d8;
}


#Project2{
  margin:5px;
  padding: 10px;
  width: 250px;
  height: 350px;
  background-image: url("images/fpga.jpg"); 
  background-size: cover;
  border: 1px solid black;
  border-color: #fff8d8;
  border-radius: 5px;
  color: #fff8d8;
}


#Project3{
  margin:5px;
  padding: 10px;
  width: 250px;
  height: 350px;
  background-image: url("images/webdev.jpg"); 
  background-size: cover;
  border: 1px solid black;
  border-color: #fff8d8;
  border-radius: 5px;
  color: #fff8d8;
}

#Home {
  height: 100vh;
  width: 100vw;
  background-image: url("images/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Chakra Petch', sans-serif;
}

#Projects {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: url("images/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Chakra Petch', sans-serif;

}
#Contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: url("images/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Chakra Petch', sans-serif;

}
#About {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: url("images/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Chakra Petch', sans-serif;

}